#body{
    width:100%;
    height:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(aquamarine,cadetblue);
    align-items: center;
    gap:1rem;
    padding: 1rem;
}

.inputNote{
    font-size: 1.5rem;
    padding:0.5rem 1rem;
    border:2px solid gray;
    border-radius: 10px;
}
.saveBtn{
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    background-image: linear-gradient(royalblue,rgb(127, 226, 170));
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    margin-left: 2rem;
    border:2px solid gray;
    border-radius: 5px;}
.cardCont{
    width:90%;
    background-color: rgb(255, 220, 192);
    margin: 2rem;
    min-height: 20rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem;
    gap:2rem;
}
.cardBox{
    position: relative;
    width:13rem;
    background-color: rgb(118, 194, 115);
    color:white;
    height: 17rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    background-image: linear-gradient(white,rgb(189, 189, 189));
    color: royalblue;
    font-size: 1.2rem;
    padding: 0.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.cardBox h1{
    width:100%;
    word-wrap: break-word;
    margin-top: 4rem;
    font-size: 1.2rem;
    overflow-y: scroll;
}
.cardBox h1::-webkit-scrollbar{
    display: none;
}
.deleteBtn{
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    background-image: linear-gradient(red,rgb(218, 93, 44));
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: 10px;
    border:2px solid gray;
    border-radius: 5px;
}
.deleteBtn:hover{
    background-image: linear-gradient(blue,royalblue);
}